[package]
name = "ethereum-tx-sign"
version = "2.1.0"
description = "Allows you to model a raw ethereum transaction and sign it with your private key"
repository = "https://github.com/synlestidae/ethereum-tx-sign"
license = "MIT"
keywords = ["web3", "ethereum", "transaction", "sign"]
authors = ["Mate Antunovic <mateATantunovic.nz>"]
readme = "README.md"

[dependencies]
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
tiny-keccak="1.4.2"
secp256k1 = "0.12"
rlp = "0.4.2"
ethereum-types = "0.6.0"
num-traits = "0.2.10"